<ion-header>
    <ion-navbar>
        <ion-title>
            Your personal details
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="form" (ngSubmit)="saveDetails(form.value)">
        <ion-list>
            <ion-item margin-bottom>
                <ion-label>Your Name</ion-label>
                <ion-input type="text" [formControl]="form.controls['name']"></ion-input>
            </ion-item>

            <ion-item margin-bottom>
                <ion-label>Your Email address</ion-label>
                <ion-input type="email" [formControl]="form.controls['email']"></ion-input>
            </ion-item>

            <ion-item margin-bottom>
                <ion-label>Favourite Platform</ion-label>
                <ion-select [formControl]="form.controls['platform']">
                    <ion-option value="Android">Android</ion-option>
                    <ion-option value="iOS">iOS</ion-option>
                    <ion-option value="WP">Windows Phone</ion-option>
                    <ion-option value="Other">Other</ion-option>
                </ion-select>
            </ion-item>

            <button ion-button color="primary" text-center block [disabled]="!form.valid">
              Save Details
            </button>
        </ion-list>
    </form>

    <div *ngIf="form.controls['name'].dirty && !form.controls['name'].valid">
        <p *ngIf="form.controls['name'].errors.InvalidName">
            Your name cannot contain any numbers.
        </p>
    </div>

    <div *ngIf="form.controls['email'].dirty && !form.controls['email'].valid">
        <p *ngIf="form.controls['email'].errors.InvalidEmail">
            You must enter a valid e-mail address.
        </p>
    </div>
</ion-content>